In [1]:
#importing pandas into jupyter
import pandas as pd 

#importing data sets 
schools = pd.read_csv('schools_complete.csv')
students = pd.read_csv('students_complete.csv')

#joining both data sets for ease of use

schoolsxstudents = pd.merge(schools, students, how = 'left', on=["school_name", "school_name"])

In [2]:
 #district summary
#gathering school names 
school_names = schoolsxstudents['school_name'].unique()

school_count = len(school_names)

school_count

15

In [3]:
#total number of students in all schools 
all_students = schoolsxstudents['student_name'].count()
all_students

39170

In [4]:
#total of the school district budget
combined_budget = schools['budget'].sum()
combined_budget

24649428

In [47]:
# Average math score for school district

avrg_math_score = students['math_score'].mean()

avrg_math_score

78.98537145774827

In [48]:
# Average reading score for school district

avrg_reading_score = students['reading_score'].mean()

avrg_reading_score

81.87784018381414

In [49]:
#percentage of district  wide students passing math at above a 60 percent 
math_pass_students = schoolsxstudents.loc[schoolsxstudents['math_score'] >= 70]
math_pass_students_count = math_pass_students['Student ID'].count()

percent_math_pass = (math_pass_students_count / all_students) * 100

percent_math_pass

74.9808526933878

In [50]:
#percentage of district  wide students passing reading at above a 60 percent 
reading_pass_students = schoolsxstudents.loc[schoolsxstudents['reading_score'] >= 70]
reading_pass_students_count = reading_pass_students['Student ID'].count()

percent_reading_pass = (reading_pass_students_count / all_students) * 100
percent_reading_pass

85.80546336482001

In [51]:
#percentage of district  wide students passing reading and math at above a 60 percent 

math_and_reading_pass_percent = ((percent_reading_pass + percent_math_pass)/200)*100
math_and_reading_pass_percent

80.39315802910392

In [60]:
#data frame holding district results
district_wide_summary = pd.DataFrame({
    "Total Schools": school_count,
    "Total Students": f"{all_students:,}",
    "Total Budget": f"${combined_budget:,.2f}",
    "Average Math Score": f"{avrg_math_score:.6f}",
    "Average Reading Score": f"{avrg_reading_score:.5f}",
    "Passing Math": f"{percent_math_pass:.6f}",
    "Passing Reading": f"{percent_reading_pass:.6f}",
    "Overall Passing": f"{math_and_reading_pass_percent: .6f}"
}, index=[0])

district_wide_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

In [54]:
#setting individual school variables 
#school name
school_nm =schoolsxstudents.set_index('school_name').groupby(['school_name'])
#School Type
school_typ = schools.set_index('school_name')['type']
#Total Students
total_school_students = school_nm['Student ID'].count()
#Total School Budget
total_school_budget = schools.set_index('school_name')['budget']
#Per Student Budget
per_student_budget = (schools.set_index('school_name')['budget']/schools.set_index('school_name')['size'])
#Average Math Score per school
avg_math_score = school_nm['math_score'].mean()
#Average Reading Score per school
avg_reading_score = school_nm['reading_score'].mean()
#Percentage Passing Math per school
pass_math_prt = (schoolsxstudents[schoolsxstudents['math_score'] >= 70].groupby('school_name')['Student ID'].count()/all_students)*100
#Percenatge Passing Reading per school
pass_reading_prt = (schoolsxstudents[schoolsxstudents['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/all_students)*100
#Percentage of students passing overall per school
overall_pass = (schoolsxstudents[(schoolsxstudents['reading_score'] >= 70) & (schoolsxstudents['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/all_students)*100

In [61]:
indiv_school_summary = pd.DataFrame({
    'School Type': school_typ,
    'Total Students': total_school_students,
    'Per Student Budget': per_student_budget,
    'School Budget': total_school_budget,
    'Average Math Score': avg_math_score,
    'Average Reading Score': avg_reading_score,
    'Passing Math': pass_math_prt,
    'Passing Reading': pass_reading_prt,
    'Overall Passing': overall_pass
})

school_summary = school_summary[['School Type', 
                          'Total Students', 
                          'School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          'Passing Math',
                          'Passing Reading',
                          'Overall Passing']]

school_summary.style.format({'Total Students': '{:}',
                          "School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:6f}", 
                          'Average Reading Score': "{:6f}", 
                          "Passing Math": "{:6f}", 
                          "Passing Reading": "{:6f}"})

indiv_school_summary

KeyError: "['Passing Math', 'Passing Reading', 'Overall Passing'] not in index"

In [55]:
#displaying top performing schools

#setting up data frame 

top_performing = indiv_school_summary.sort_values('% Overall Passing', ascending = False)
top_performing.head().style.format({'Total Students': '{:}',
                           'Total School Budget': '${:,.2f}', 
                           'Per Student Budget': '${:.2f}', 
                           '% Passing Math': '{:6f}', 
                           '% Passing Reading': '{:6f}', 
                           '% Overall Passing': '{:6f}'})