In [10]:
#importing pandas into jupyter
import pandas as pd 

#importing data sets 
schools = pd.read_csv('schools_complete.csv')
students = pd.read_csv('students_complete.csv')

#joining both data sets for ease of use

schoolsxstudents = pd.merge(schools, students, how = 'left', on=["school_name", "school_name"])

In [7]:
#district summary
#gathering school names 
school_names = schoolsxstudents['school_name'].unique()

school_count = len(school_names)

school_count

15

In [22]:
#total number of students in all schools 
all_students = schoolsxstudents['student_name'].count()
all_students

39170

In [9]:
#total of the school district budget
combined_budget = schools['budget'].sum()
combined_budget

24649428

In [14]:
# Average math score for school district

avg_math_score = students['math_score'].mean()

avg_math_score

78.98537145774827

In [15]:
# Average reading score for school district

avg_reading_score = students['reading_score'].mean()

avg_reading_score

81.87784018381414

In [20]:
#percentage of district  wide students passing math at above a 60 percent 
math_pass_students = schoolsxstudents.loc[schoolsxstudents['math_score'] >= 60]
math_pass_students_count = math_pass_students['Student ID'].count()

percent_math_pass = (math_pass_students_count / all_students) * 100

percent_math_pass

92.4457492979321

In [24]:
#percentage of district  wide students passing reading at above a 60 percent 
reading_pass_students = schoolsxstudents.loc[schoolsxstudents['reading_score'] >= 60]
reading_pass_students_count = reading_pass_students['Student ID'].count()

percent_reading_pass = (reading_pass_students_count / all_students) * 100
percent_reading_pass

100.0

In [27]:
# percentage of students that passed both math and reading
math_and_reading_pass_percent = ((percent_math_pass + percent_reading_pass)/200)*100
math_and_reading_pass_percent

96.22287464896604

In [29]:
#data frame holding district results

district_wide_summary = pd.DataFrame({
    "Total Schools": school_count,
    "Total Students": f"{all_students:,}",
    "Total Budget": f"${combined_budget:,.3f}",
    "Average Math Score": f"{avg_math_score:.9f}",
    "Average Reading Score": f"{avg_reading_score:.8f}",
    "% Passing Math": f"{percent_math_pass:.9f}",
    "% Passing Reading": f"{percent_reading_pass:.9f}",
    "% Overall Passing": f"{math_and_reading_pass_percent: .6f}"
}, index=[0])

district_wide_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.000",78.985371458,81.87784018,92.445749298,100.000000000,96.222875

In [23]:
#setting individual school variables 
#school name
school_nm =schoolsxstudents.set_index('school_name').groupby(['school_name'])
#School Type
school_typ = schools.set_index('school_name')['type']
#Total Students
total_school_students = school_nm['Student ID'].count()
#Total School Budget
total_school_budget = schools.set_index('school_name')['budget']
#Per Student Budget
per_student_budget = (schools.set_index('school_name')['budget']/schools.set_index('school_name')['size'])
#Average Math Score per school
avg_math_score = school_nm['math_score'].mean()
#Average Reading Score per school
avg_reading_score = school_nm['reading_score'].mean()
#Percentage Passing Math per school
pass_math_prt = schoolsxstudents[schoolsxstudents['math_score'] >= 60].groupby('school_name')['Student ID'].count()/all_students*100
#Percenatge Passing Reading per school
pass_reading_prt = schoolsxstudents[schoolsxstudents['reading_score'] >= 60].groupby('school_name')['Student ID'].count()/all_students*100
#Percentage of students passing overall per school
overall_pass = schoolsxstudents[(schoolsxstudents['reading_score'] >= 60) & (schoolsxstudents['math_score'] >= 60)].groupby('school_name')['Student ID'].count()/all_students*100

In [27]:
school_summary = pd.DataFrame({
    "School Type": school_typ,
    "Total Students": total_school_students,
    "Per Student Budget": per_student_budget,
    "School Budget": total_school_budget,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    '% Passing Math': pass_math_prt,
    '% Passing Reading': pass_reading_prt,
    "% Overall Passing": overall_pass
})

NameError: name 'school_typ' is not defined

In [26]:
#setting individual school summary data set 

school_summary = pd.DataFrame({
    "School Type": school_typ,
    "Total Students": total_school_students,
    "Per Student Budget": per_student_budget,
    "School Budget": total_school_budget,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    '% Passing Math': pass_math_prt,
    '% Passing Reading': pass_reading_prt,
    "% Overall Passing": overall_pass
})

NameError: name 'school_typ' is not defined