In [47]:
#importing pandas and numpy 
import pandas as pd 
import numpy as np 

#importing data sets 
schools = pd.read_csv('schools_complete.csv')
students = pd.read_csv('students_complete.csv')

#joining both data sets
ssd = pd.merge(schools_data, students_data, how = 'left', on=['school_name','school_name'])

ssd

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [48]:
#total number of schools
schools_count = schools['school_name'].count()
schools_count

15

In [49]:
#total number of students

In [50]:
students_count = students['student_name'].count()
students_count

39170

In [51]:
#total budget
district_budget = schools['budget'].sum()
district_budget

24649428

In [52]:
#average math score 
avg_m = students['math_score'].mean()
avg_m

78.98537145774827

In [53]:
#average reading score 
avg_r = students['reading_score'].mean()
avg_r

81.87784018381414

In [54]:
m_pass_prc = (ssd['math_score'] >= 70).sum()/ssd['math_score'].count()*100
m_pass_prc

74.9808526933878

In [55]:
#precentage of students passing math
r_pass_prc = (ssd['reading_score'] >= 70).sum()/ssd['reading_score'].count()*100
r_pass_prc

85.80546336482001

In [56]:
#overall passing rate
o_pass_prc = (r_pass_prc + m_pass_prc)/2
o_pass_prc

80.39315802910392

In [64]:
# data frame for district results 
district_summary = pd.DataFrame({'total schools' : [schools_count], 'total students' : [students_count], 'total budget' : [district_budget], 'average math score' : [avg_m], 'average reading score' : [avg_r], 'percentage passing math' : [m_pass_prc], 'percentage passing reading' : [r_pass_prc], 'overall passing percentage' : [o_pass_prc] })
district_summary

,total schools,total students,total budget,average math score,average reading score,percentage passing math,percentage passing reading,overall passing percentage
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [65]:
#turning results into a different dataframe
districtDF = pd.DataFrame(district_summary, columns= ['total schools', 'total students', 'total budget', 'average math score', 'average reading score', 'percentage passing math', 'percentage passing reading', 'overall passing percentage'])

In [66]:
#indivudual schools summary 

#school type
sc_type = schools.set_index(['school_name'])['type']

#students per school
st_x_sc = ssd['school_name'].value_counts()

#budget per school
sc_budget = ssd.groupby(['school_name'])['budget'].mean()

#school budget per student
budget_x_st = sc_budget/st_x_sc

#average school wide math score 
avg_m_x_sc = ssd.groupby(['school_name'])['math_score'].mean()

#average school wide reading score 
avg_r_x_sc = ssd.groupby(['school_name'])['reading_score'].mean()

#percentage of students passing math by school
sc_m_indiv = ssd.loc[ssd['math_score']>= 70]
m_pass_x_sc = sc_m_indiv['school_name'].value_counts()
sc_prc_pass_m = (m_pass_x_sc/st_x_sc)*100

#percentage of students passing reading by school
sc_r_indiv = ssd.loc[ssd['reading_score']>= 70]
r_pass_x_sc = sc_r_indiv['school_name'].value_counts()
sc_prc_pass_r = (r_pass_x_sc/st_x_sc)*100

#overall passing percentage per school
sc_o_prc_pass = sc_prc_pass_m + sc_prc_pass_r/ st_x_sc

In [113]:
per_school_summary_df= pd.DataFrame({'school type' : sc_type, 'students per school' : st_x_sc, 'budget per school' : sc_budget, 'school budget per student' : budget_x_st, 'average math score': avg_m_x_sc, 'average reading score' : avg_r_x_sc, '% passing math': sc_prc_pass_m, '% passing reading': sc_prc_pass_r, '% overall passing' : sc_o_prc_pass})
per_school_summary_df

,school type,students per school,budget per school,school budget per student,average math score,average reading score,% passing math,% passing reading,% overall passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,66.696530
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,68.338554
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,93.458542
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,66.770413
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,92.731271
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,65.711799
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,66.074611
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,94.694331
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,66.386652
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,93.921553
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,93.331687
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,93.910004
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,93.387006

In [85]:
#copy of data frame of school summary 
per_school_summary_df = pd.DataFrame(per_school_summary)

In [86]:
#performance by overall passing percentage
top_schools = pd.DataFrame(per_school_summary.sort_values(['% passing math', '% passing reading', '% overall passing'], ascending = False ))
top_schools.head()

,school type,students per school,budget per school,school budget per student,average math score,average reading score,% passing math,% passing reading,% overall passing
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,94.694331
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,93.910004
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,93.921553
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,93.458542

In [87]:
bottom_schools = pd.DataFrame(per_school_summary.sort_values(['% passing math', '% passing reading', '% overall passing'], ascending = True))
bottom_schools.head()

,school type,students per school,budget per school,school budget per student,average math score,average reading score,% passing math,% passing reading,% overall passing
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,65.711799
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,66.074611
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,66.386652
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,66.696530

In [81]:
#math scores by grade 

#9th grade math scores 
m_9 = students.loc[students['grade'] == '9th'].groupby(['school_name'])['math_score'].mean()

#10th grade math scores 
m_10 = students.loc[students['grade'] == '10th'].groupby(['school_name'])['math_score'].mean()

#11th grade math scores 
m_11 = students.loc[students['grade'] == '11th'].groupby(['school_name'])['math_score'].mean()

#12th grade math scores 
m_12 = students.loc[students['grade'] == '12th'].groupby(['school_name'])['math_score'].mean()


#math scores data frame 
math_scores_by_grade = pd.DataFrame({'9th grade': m_9, '10th grade': m_10, ' 11th grade': m_11, '12th grade' : m_12})
math_scores_by_grade

                       9th grade  10th grade   11th grade  12th grade
school_name
Bailey High School     77.083676   76.996772    77.515588   76.492218
Cabrera High School    83.094697   83.154506    82.765560   83.277487
Figueroa High School   76.403037   76.539974    76.884344   77.151369
Ford High School       77.361345   77.672316    76.918058   76.179963
Griffin High School    82.044010   84.229064    83.842105   83.356164
Hernandez High School  77.438495   77.337408    77.136029   77.186567
Holden High School     83.787402   83.429825    85.000000   82.855422
Huang High School      77.027251   75.908735    76.446602   77.225641
Johnson High School    77.187857   76.691117    77.491653   76.863248
Pena High School       83.625455   83.372000    84.328125   84.121547
Rodriguez High School  76.859966   76.612500    76.395626   77.690748
Shelton High School    83.420755   82.917411    83.383495   83.778976
Thomas High School     83.590022   83.087886    83.498795   83.497041
Wilson High School     83.085578   83.724422    83.195326   83.035794
Wright High School     83.264706   84.010288    83.836782   83.644986

In [82]:
#math scores by grade 

#9th grade math scores 
r_9 = students.loc[students['grade'] == '9th'].groupby(['school_name'])['reading_score'].mean()

#10th grade math scores 
r_10 = students.loc[students['grade'] == '10th'].groupby(['school_name'])['reading_score'].mean()

#11th grade math scores 
r_11 = students.loc[students['grade'] == '11th'].groupby(['school_name'])['reading_score'].mean()

#12th grade math scores 
r_12 = students.loc[students['grade'] == '12th'].groupby(['school_name'])['reading_score'].mean()


#math scores data frame 
reading_scores_by_grade = pd.DataFrame({'9th grade': r_9, '10th grade': r_10, ' 11th grade': m_11, '12th grade' : m_12})
reading_scores_by_grade

                       9th grade  10th grade   11th grade  12th grade
school_name
Bailey High School     81.303155   80.907183    77.515588   76.492218
Cabrera High School    83.676136   84.253219    82.765560   83.277487
Figueroa High School   81.198598   81.408912    76.884344   77.151369
Ford High School       80.632653   81.262712    76.918058   76.179963
Griffin High School    83.369193   83.706897    83.842105   83.356164
Hernandez High School  80.866860   80.660147    77.136029   77.186567
Holden High School     83.677165   83.324561    85.000000   82.855422
Huang High School      81.290284   81.512386    76.446602   77.225641
Johnson High School    81.260714   80.773431    77.491653   76.863248
Pena High School       83.807273   83.612000    84.328125   84.121547
Rodriguez High School  80.993127   80.629808    76.395626   77.690748
Shelton High School    84.122642   83.441964    83.383495   83.778976
Thomas High School     83.728850   84.254157    83.498795   83.497041
Wilson High School     83.939778   84.021452    83.195326   83.035794
Wright High School     83.833333   83.812757    83.836782   83.644986

In [117]:
#creating table that breaks down school performance based on average spending rages per student 


#bins with reasonable cut off from spending 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

per_school_summary_df["Spending Ranges (Per Student)"]=pd.cut(per_school_summary["budget per school"]/per_school_summary["students per school"],spending_bins , labels)

In [121]:

#calculating given columns 


spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean(numeric_only=True)["average math score"]
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean(numeric_only=True)["average reading score"]
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean(numeric_only=True)["% passing math"]
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean(numeric_only=True)["% passing reading"]
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean(numeric_only=True)["% overall passing"]
overall_passing_spending

Spending Ranges (Per Student)
(0, 585]      93.553497
(585, 630]    87.192739
(630, 645]    73.518186
(645, 680]    66.185607
Name: % overall passing, dtype: float64

In [122]:
# creating spending summary data frame

spending_summary = pd.DataFrame({"Average Math Score" : spending_math_scores, "Average Reading Score": spending_reading_scores, "% Passing Math": spending_passing_math, "% Passing Reading": spending_passing_reading, "% Overall Passing": overall_passing_spending})
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
"(0, 585]",83.455399,83.933814,93.460096,96.610877,93.553497
"(585, 630]",81.899826,83.155286,87.133538,92.718205,87.192739
"(630, 645]",78.518855,81.624473,73.484209,84.391793,73.518186
"(645, 680]",76.997210,81.027843,66.164813,81.133951,66.185607

In [126]:
#scores by school size 

#setting bins and labels 
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["students per school"], size_bins, labels)
per_school_summary_df.head()

,school type,students per school,budget per school,school budget per student,average math score,average reading score,% passing math,% passing reading,% overall passing,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,66.696530,"(585, 630]","(2000, 5000]"
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,94.185705,"(0, 585]","(1000, 2000]"
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,66.015849,"(630, 645]","(2000, 5000]"
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,68.338554,"(630, 645]","(2000, 5000]"
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,93.458542,"(585, 630]","(1000, 2000]"

In [127]:
#creating mean scores by school size 
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean(numeric_only=True)["average math score"]
size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean(numeric_only=True)["average reading score"]
size_passing_math = per_school_summary_df.groupby(["School Size"]).mean(numeric_only=True)["% passing math"]
size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean(numeric_only=True)["% passing reading"]
overall_passing_size = per_school_summary_df.groupby(["School Size"]).mean(numeric_only=True)["% overall passing"]
overall_passing_size

School Size
(0, 1000]       93.712801
(1000, 2000]    93.656899
(2000, 5000]    69.988051
Name: % overall passing, dtype: float64

In [129]:
#size data frame
size_summary = pd.DataFrame({
          "average math score" : size_math_scores,
          "average reading score": size_reading_scores,
          "% passing math": size_passing_math,
          "% passing reading": size_passing_reading,
          "% overall passing": overall_passing_size})
size_summary

,average math score,average reading score,% passing math,% passing reading,% overall passing
School Size,,,,,
"(0, 1000]",83.821598,83.929843,93.550225,96.099437,93.712801
"(1000, 2000]",83.374684,83.864438,93.599695,96.790680,93.656899
"(2000, 5000]",77.746417,81.344493,69.963361,82.766634,69.988051

In [134]:
#type of school summary 
type_math_scores = per_school_summary_df.groupby(["school type"]).mean(numeric_only=True)["average math score"]
type_reading_scores = per_school_summary_df.groupby(["school type"]).mean(numeric_only=True)["average reading score"]
type_passing_math = per_school_summary_df.groupby(["school type"]).mean(numeric_only=True)["% passing math"]
type_passing_reading = per_school_summary_df.groupby(["school type"]).mean(numeric_only=True)["% passing reading"]
overall_passing_type = per_school_summary_df.groupby(["school type"]).mean(numeric_only=True)["% overall passing"]

overall_passing_type

school type
Charter     93.702512
District    66.570630
Name: % overall passing, dtype: float64

In [135]:
# type data frame 
type_summary_df = pd.DataFrame({
          "average math score" : type_math_scores,
          "average reading score": type_reading_scores,
          "% passing math": type_passing_math,
          "% passing reading": type_passing_reading,
          "% overall passing": overall_passing_type})
type_summary_df

,average math score,average reading score,% passing math,% passing reading,% overall passing
school type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,93.702512
District,76.956733,80.966636,66.548453,80.799062,66.570630

In [136]:
### data analysis 

#Given the data it is safe to say that charter schools have an overall higher passing rate. 

#Larger schools in this district tend to have lower overall scores while there is little difference between small and medium schools